@import "tailwindcss";
@plugin "daisyui";


.shadow-white {
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.2);
}

:root {
  /* FIXED BACKGROUNDS */
  --bg-light: #f8fafc;
  --bg-dark: #1d232a;

  /* PRIMARY (Cyan) */
  --primary: #83fef9;
  --primary-soft: #b6fffb;
  --primary-deep: #00d9d0;

  /* SECONDARY (Blue) */
  --secondary: #38bdf8;
  --secondary-soft: #7dd3fc;
  --secondary-deep: #0284c7;

  /* TEXT */
  --text-light: #0f172a;
  --text-dark: #e5e7eb;

  /* SURFACE / DEPTH */
  --card-light: #ffffff;
  --card-dark: #232b33;

  --border-light: #e2e8f0;
  --border-dark: #334155;
}

[data-theme="dark"] {
  --bg: var(--bg-dark);
  --text: var(--text-dark);
  --card: var(--card-dark);
  --border: var(--border-dark);
}

[data-theme="light"] {
  --bg: var(--bg-light);
  --text: var(--text-light);
  --card: var(--card-light);
  --border: var(--border-light);
}

